


#aboutyakuza{
          background-image: url(yakuzapexels7.jpg);
       background-color: rgb(1, 71,45);
            background-blend-mode: lighten;
       }

       
.wrapperA{

          box-sizing: border-box;
     
     }
     
      

     .about p{

          background-color:rgba(0, 0, 0,0.7);
          color:rgba(255, 255, 255,1);
     text-decoration: solid;
     font-weight: 800;
     width: 15cm;
     height: 12cm;
     padding-top: 1cm;
     padding-left: 0.5cm;
     padding-right: 0.5cm;
     padding-bottom: 0.5cm;
     margin: 0 auto;
     text-align: center;
     
     transition-property:box-shadow,Right;
     transition-duration: 1S;
    transition-timing-function: ease-out;
     transition-delay: 0;


     border-radius: 2cm;
     border-style: solid;
     border-color:black;
     letter-spacing: 5px;
     
     }
     P:hover{

          box-shadow: 0 0 30px 3px rgb(251, 187, 108);
     }
     
.about h1{
     
          text-decoration: underline;
          text-align: center;
               font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
               font-weight: bolder;
               text-shadow: 4cm;
               text-emphasis-color: black;
               color: rgba(250, 6, 6, 0.801);
               
          
     
     
     }
           
     .backhome{
         
          
          text-align: center;
          text-decoration: underline;
          margin-left: 12cm;
          margin-right: 19cm;
          margin-top: 3px;
          transform: translateX(4cm);

     }

     #button{
          margin-left:-2cm;
          
          
          }                 